html,body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  background-color: #333;
  padding: 10px 16px;
  margin: 0px;
  color: white;
}

h1 {
  font-size: 32px;
}

footer {
  color: white;
  height: 22px;
  background-color: #333;
  text-align: center;
  flex-shrink: 0;
  width: 100%
}

#primary-content {
  flex: 1 0 auto;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-form {
  position: relative;
  background-color: white;
  padding: 5px 24px 20px 24px;
  margin: auto;
  width: 240px;
  border-radius: 5px;
}

.modal-header {
  position: relative;
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}

input {
  margin: 10px 0px;
}

#modal-form button {
  margin: 5px 0px 10px 0px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

#add-project-btn {
  background-color: rgb(77, 77, 185);
  color: white;
}

#add-project-btn:hover {
  background-color: rgb(48, 64, 151);
}

#close-modal-btn {
  background-color: #bbbbbb;
}

#close-modal-btn:hover {
  background-color: #a8a8a8;
}

#task-btn {
  border: none;
  font-size: 16px;
  background-color: white;
}

#task-btn:hover {
  border: none;
  color: orangered
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  background-color:#ededf3;
}

ul {
  list-style-type: none;
  font-size: 24px;
}

li {
  margin: 16px 0px;
}

/* Remove default button styling for Font Awesome Icon button */
.show-modal-btn {
  border: none;
  padding: 0;
  outline: inherit;
  background: none;
  color: gray;
  font: inherit;
}

.fa-plus-square:hover {
  color: black;
}

#primary-content {
  display: flex;
}

#list-app {
  margin-left: 20px;
}

#title-input, #description-input {
  padding: 3px;
  width: 100%;
  margin: 0px;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
}

#description-input {
  height: 80px;
}

/* Create placeholder for contentEditable divs with text equal to data-ph*/
#description-input[contentEditable=true]:empty:before {
   content: attr(data-ph);
   color: #999
};

#add-task-btn-form input, #add-task-btn-form select{ 
  margin-left: 2px;
}


#project-color {
  visibility: hidden;
}

.color-wrapper {
  display: block;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border-style: double;
  border-width: 5px;
  border-color: #d3d3d3;
  background-color: #808080;
  margin-top: 10px;
}

.dropdown-content { 
  display: none;
  background-color: #f3f3f3;
  max-width: 160px;
}

#project-list li {
  font-size: 18px;
}

#project-list {
  margin-right: 5px;
}

.project-info {
  overflow: hidden;
  width: 10ch;
  display: inline-block;
  text-overflow: ellipsis;
}

.delete-icon, .edit-icon {
  float: right;
  margin-right: 5px;
}

.project-icon {
  margin-right: 5px;
}

.delete-icon {
  margin: 0px 10px;
}

.delete-icon {
  margin: 0px 10px;
}